$white: #fff;
$black: #000;
$roboto: 'Roboto', Arial, Helvetica, sans-serif;
$robotoBold: 'Roboto Bold', Arial, Helvetica, sans-serif;
$articleBackgroundColor: #000;
$scrollBarThumb: #222;
$scrollBarBg: #444;
