@import 'base/_reset', 'base/vars', 'base/fonts';
@import 'layout/header', 'layout/hero-img', 'layout/article', 'layout/mobile-nav', 'layout/tablet', 'layout/tweet';
@import 'components/loader', 'components/error-text', 'components/media-queries';


body {
  background-color: $black;
}

.container {
  position: relative;
  top: 3.9rem;
  max-width: 1245px;
  margin: auto;

  @include tablet {
    display: flex;
    top: 3.5rem;
  }

  @include desktopSm {
    border-left: 1px solid $white;
    border-right: 1px solid $white;
  }
}







// .test-container {
//   display: inline-block;
// }

// .container > * {
//     min-width: 0px;
// }

// .main {
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     -webkit-box-pack: end;
//     justify-content: end;
// }

// .hero-img-container {
//     width: 100vw;
//     max-width: 100%;
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);

//     .picture {
//           grid-column: 1 / 9;
//       }
// }

// @media (min-width: 768px) {}
// .hero-img-container .picture {
//     grid-column: 1 / 9;
// }

// @media (min-width: 768px)
// .article-url {
//     grid-column: 1 / 9;
// }

// .article-url {
//     color: rgb(255, 255, 255);
//     font-family: Roboto;
//     text-decoration: none;
//     grid-column: 1 / span 12;
// }
