@import 'base/_reset', 'base/vars', 'base/fonts';
@import 'layout/header', 'layout/hero-img', 'layout/article',
  'layout/mobile-nav', 'layout/main', 'layout/tweet', 'layout/nav';
@import 'components/loader', 'components/error-text', 'components/media-queries';

.container {
  max-width: 58rem;

  @include laptopMed {
    max-width: 63rem;
  }

  @include laptopMedLg {
    max-width: 1180px;
  }

  // @include desktop {
  //   max-width: 1186px;
  // }

  @include desktopLg {
    max-width: 1500px;
  }
}

.twitter-spacer {
  height: 3.5rem;

  @include desktopLg {
    height: 4.5rem;
  }
}
