@import 'base/_reset', 'base/vars', 'base/fonts', 'layout/header';
// @import 'base/_fonts';
// @import 'layout/header';



body {
  background-color: gray;

  h1 {
    font-family: 'Roboto';
     color: blue;
  }
}
