@import '../components/media-queries';

.loader-container {
  display: flex;
  justify-content: center;
}

.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color:$black;
  margin-top: 10%;
  animation: spin 0.6s linear infinite;
  color: $white;
  display: none;

  @include mobileLandscape {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
