.article-url {
  color: $white;
  text-decoration: none;
  font-family: $roboto;
}

.article-container {
  background-color: $articleBackgroundColor;
  margin: 5px;
  border: 1px solid $white;

  @include tablet {
    margin-left: 0;
  }

  @include laptopMed {
    margin-right: 0;
  }
}

.article-header-container {
   padding: 0 5px;

   .article-source {
     color: rgb(151, 151, 151);
   }

  .article-header {
    text-transform: capitalize;
    display: inline-block;
    padding: 5px 0;

    // &:first-of-type {
    //   text-transform: uppercase;
    // }

    @include tablet {
      font-size: 1.2rem;
    }

  }
}

.article-title-container {
   display: flex;
   padding: 0 5px;

  .article-title {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: $robotoBold;
    letter-spacing: 1px;

    @include desktop {
      font-size: 1.7rem;
    }

    @include desktopLg {
      font-size: 1.9rem;
    }
  }
}

.article-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .article-date {
    padding-left: 5px;

   @include desktopLg {
     font-size: 1.2rem;
   }
  }

  .astronaut-icon-container {
    position: relative;
    right: 5px;

    img {
      width: 40px;

      @include desktopLg {
        width: 50px;
      }
    }
  }
}
