@import '../components/media-queries';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;

  @include desktopLg {
    max-width: 1800px;
  }
}

header {
  background-color: $black;
  color: $white;
  font-family: $roboto;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;

  .nav-header-description {
    display: none;
    margin-left: 2.8rem;
    font-size: 1rem;
    text-transform: capitalize;

    @include tablet {
      display: inline-block;

    }

    @include laptopMed {
      margin-left: 1.8rem;
    }
  }

    @include tablet {
     border-bottom: 1px solid $white;
    }

  .header-text {
    letter-spacing: 2px;

    @include tablet {
      position: relative;
      left: 2.2rem;
      font-size: 1.4rem;
      padding: 10px 0;
    }

    @include laptopMed{
      left: 1.2rem
    }

    @include desktopLg {
      font-size: 1.9rem;
    }
  }

  .hamburger-icon-container {
    padding-left: 10px;

    @include tablet {
      display: none
    }

    .hamburger-menu-icon {
      font-size: 1.95rem;
    }

  }

  .earth-icon-container {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    padding-right: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }
}
