@import '../components/media-queries';

.main-container {
  grid-column: 1 / 13;
  height: 100vh;
  margin-top: 3rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  @include tablet {
    grid-column: 4 / 13;
  }

  @include laptopMed {
    grid-column: 4 / 10;
  }
}

.main-container::-webkit-scrollbar { /* WebKit */
    // width: 0;
    // height: 0;
    display: none;
    background-color: #444;

    @include laptopMed {
      display: block;
    }
}

.main-container::-webkit-scrollbar-thumb {
  background: #222;
  border: 1px solid white;
}

.articles-h1 {
  margin-left: 5px;
  padding: 5px 0;
  font-family: $roboto;
  font-weight: 400;
  font-size: 1.5rem;
  color: $white;

  @include tablet {
    padding: 8px 0;
  }

  @include laptopSm {
    font-size: 1.8rem;
  }

  @include desktop {
    font-size: 2rem;
  }

  @include desktopLg {
    font-size: 2.5rem;
  }
}

.main-spacer {
  height: 2.85rem;
}
