@import '../components/media-queries';

.main-container {

  @include tablet {
    grid-column: 4 / 13;
    margin-top: 3rem;

  }

  @include laptopMed {
    grid-column: 4 / 10;
  }
}

.main-container::-webkit-scrollbar { /* WebKit */

    @include laptopMed {
      display: block;
    }
}


.articles-h1 {

  @include tablet {
    padding: 8px 0;
  }

  @include laptopSm {
    font-size: 1.8rem;
  }

  @include desktop {
    font-size: 2rem;
  }

  @include desktopLg {
    font-size: 2.5rem;
  }
}

.main-spacer {

  @include tablet {
    height: 2.85rem;
  }
}
