.nav-large {
  display: none;
  grid-column: 2 / 4;
  position: fixed;
  height: 100vh;

  nav {
    margin-top: 5.5rem;

    .sidenav-link {
      margin-left: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  // @include laptopMed {
  //   border-left: 1px solid $white;

  // }

 @include tablet {
    display: block;
  }

  .sidenav-link {
    @include desktop {
      font-size: 1.2rem;
    }

    @include desktopLg {
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: 1160px) {
  .nav-large {
    border-left: 1px solid $white;

  }
}
