.mobile-sidenav {
  overflow-y: scroll;
}

.nav-large {
  overflow-y: scroll;

  nav {
    margin-top: 4.5rem;

    .sidenav-link {
      margin-left: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    @include desktopLg {
      margin-top: 5rem;
    }
  }

  @include tablet {
    display: block;
  }

  @include laptopMed {
    border-left: 1px solid $white;
  }

  .sidenav-link {
    @include desktop {
      font-size: 1.2rem;
    }

    @include desktopLg {
      font-size: 1.4rem;
    }
  }
}

.nav-large::-webkit-scrollbar {
  width: 0;
  height: 0;
}
