@import '../components/media-queries';

// .tablet-nav {
//   display: none;

//   @include tablet {
//     width: 29%;
//     height: 100vh;
//     display: inline-block;
//     position: fixed;
//     margin-top: 2rem;
//   }
// }

.main-container {

  @include tablet {
    width: 75%;
    position: relative;
    left: 25%;
  }

  @include tabletLg {
    left: 25%;
    width: 75%;
  }

  @include laptopSm {
    left: 22%;
    width: 78%;
  }

  @include laptopMed {
    // left: 25%;
    // width: 49%;
    left: 21%;
    width: 57%;
  }
}
