@import '../components/media-queries';

.tablet-nav {
  display: none;

  @include tablet {
    width: 29%;
    height: 100vh;
    display: inline-block;
    position: fixed;
        margin-top: 1.4rem;
  }
}

.main-container {
  @include tablet {
    width: 75%;
    position: relative;
    left: 25%;
  }

  @include laptop {
    left: 25%;
    width: 75%;
  }
}
